In [12]:
import pandas as pd
data = pd.read_csv("article_after_processing10.csv", encoding='iso-8859-1')

In [13]:
# confirm there is no NAs
data.apply(lambda col: sum(col.isnull()), axis = 0)

title                                          0
link                                           0
excerpt                                        0
published_at                                   0
funding_round                                 12
money_raised                                   0
Company                                        0
money_raised_float                             0
linkedin_link                                  0
Company_at_Linkedin                            0
CompanyName                                    0
Specialties                                   33
Industry                                       0
Website                                        0
Location                                       0
CompanySize                                    0
Description                                    0
Founded                                        0
Also-viewed                                    0
zip_code                                       0
City                                          46
address_check                                  0
Country                                        0
State                                         46
latitude                                      46
longitude                                     46
Industry_consolidated                          0
spc_Food Business                              0
spc_Education                                  0
spc_Financial Services                         0
spc_Healthcare_health                          0
spc_Human Resources                            0
spc_Logistics and Supply Chain                 0
spc_Entertainment                              0
spc_Computer & Network Security & Hardware     0
spc_Real_estate                                0
spc_Marketing and Advertising                  0
spc_commerce                                   0
spc_mobile                                     0
spc_app                                        0
spc_analysis                                   0
spc_developer                                  0
spc_security                                   0
spc_social                                     0
spc_ds                                         0
spc_travel                                     0
spc_booking_ticketing                          0
spc_Apparel                                    0
spc_cloud                                      0
spc_API                                        0
spc_device                                     0
spc_design                                     0
spc_enterprise                                 0
spc_product                                    0
spc_robotics_manufacturing                     0
spc_total                                      0
dtype: int64

In [14]:
# list(data.loc[:,'spc_Food Business':'spc_robotics_manufacturing'])

In [15]:
data.shape

(232, 56)

In [16]:
data = data[data.Country == "United States"]
cols = ['CompanyName', 'money_raised_float','Founded', 'CompanySize']
data = data[cols]
x_train = data[['money_raised_float','Founded', 'CompanySize']]

In [48]:
# reset index
data = data.reset_index(drop=True)
data.shape

(178, 4)

In [49]:
x_train.shape

(178, 3)

In [18]:
x_train.CompanySize.unique()

array(['51-200', '201-500', 'Nov-50', '1001-5000', '501-1000',
       '5001-10,000', '10,001+'], dtype=object)

In [19]:
def convert_CompanySize(size):
    if size == 'Nov-50':
        return 1
    elif size == '51-200':
        return 2
    elif size == '201-500':
        return 3
    elif size == "501-1000":
        return 4
    elif size == "1001-5000":
        return 5
    elif size == "5001-10,000":
        return 6
    elif size == "10,001+":
        return 7
    else:
        return 0

x_train["t_CompanySize"] = x_train.CompanySize.apply(
    lambda size: convert_CompanySize(size))

In [20]:
x_train["t_CompanySize"].value_counts()

2    76
3    52
1    20
5    15
4    12
6     2
7     1
Name: t_CompanySize, dtype: int64

In [21]:
x_train.drop(['CompanySize'], axis = 1, inplace = True)

In [22]:
x_train.head(5)

   money_raised_float  Founded  t_CompanySize
2                40.0   2015.0              2
4                90.0   2013.0              3
6                29.0   2012.0              2
7                32.0   2013.0              2
8                36.0   2011.0              2

In [23]:
x_train.shape

(178, 3)

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train_minmax = scaler.fit_transform(x_train)

In [25]:
# confirm the transformation
x_train_minmax_df = pd.DataFrame(x_train_minmax)
x_train_minmax_df

            0         1         2
0    0.038290  0.974359  0.166667
1    0.102106  0.948718  0.333333
2    0.024250  0.935897  0.166667
3    0.028079  0.948718  0.166667
4    0.033184  0.923077  0.166667
5    0.012763  0.948718  0.166667
6    0.081047  0.948718  0.333333
7    0.062540  0.935897  0.333333
8    0.056158  0.923077  0.333333
9    0.002553  0.910256  0.166667
10   0.038290  0.910256  0.000000
11   0.019145  0.846154  0.333333
12   0.006382  0.858974  0.166667
13   0.031908  0.897436  0.666667
14   0.025526  0.935897  0.166667
15   0.082961  0.923077  0.333333
16   0.012763  0.910256  0.000000
17   0.021698  0.923077  0.166667
18   1.000000  0.923077  0.666667
19   0.044671  0.935897  0.333333
20   0.050415  0.935897  0.333333
21   0.008934  0.871795  0.166667
22   0.002553  0.923077  0.333333
23   0.191449  0.935897  0.666667
24   0.000000  0.871795  0.000000
25   0.012763  0.884615  0.166667
26   0.027441  0.897436  0.333333
27   0.007658  0.858974  0.333333
28   0.089343  0.897436  0.166667
29   0.012763  0.923077  0.166667
..        ...       ...       ...
148  0.082961  0.897436  0.333333
149  0.019145  0.794872  0.166667
150  0.031908  0.923077  0.333333
151  0.006382  0.923077  0.166667
152  0.042119  0.820513  0.333333
153  0.015316  0.897436  0.166667
154  0.012763  0.794872  0.333333
155  0.006382  0.923077  0.000000
156  0.019145  0.871795  0.166667
157  0.007913  0.858974  0.000000
158  0.002553  0.935897  0.166667
159  0.003829  0.871795  0.166667
160  0.051053  0.897436  0.333333
161  0.019145  0.961538  0.166667
162  0.038290  0.884615  0.333333
163  0.017869  0.000000  0.833333
164  0.000000  0.935897  0.000000
165  0.012763  0.961538  0.166667
166  0.002553  1.000000  0.000000
167  0.003829  0.884615  0.000000
168  0.024250  0.935897  0.166667
169  0.108488  0.948718  0.333333
170  0.165922  0.807692  0.000000
171  0.006382  0.923077  0.166667
172  0.010211  0.935897  0.166667
173  0.015316  0.935897  0.166667
174  0.031908  0.935897  0.333333
175  0.255265  0.961538  0.333333
176  0.000000  0.961538  0.500000
177  0.019145  0.923077  0.166667

[178 rows x 3 columns]

In [53]:
import numpy as np
x_test = np.array([[10, 2015, 1],
                 [20, 2010, 2],
                [100, 2010, 4],
                  [200, 2013, 2]])

In [54]:
x_test_minmax = scaler.transform(x_test)
x_test_minmax

array([[ 0.        ,  0.97435897,  0.        ],
       [ 0.01276324,  0.91025641,  0.16666667],
       [ 0.11486918,  0.91025641,  0.5       ],
       [ 0.2425016 ,  0.94871795,  0.16666667]])

In [55]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(x_train_minmax_df)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [56]:
distances, indices = model_knn.kneighbors(x_test_minmax, n_neighbors = 6)

indices

array([[ 24, 164,  35, 126, 166, 167],
       [ 29,  58,  80, 153,  25, 173],
       [ 98, 121, 144,  43, 105, 143],
       [115,  56,  72, 112,  28,  71]], dtype=int64)

In [57]:
data.ix[indices[0]]

             CompanyName  money_raised_float  Founded CompanySize
24   Digital Postal Mail                10.0   2007.0      Nov-50
164                LISNR                10.0   2012.0      Nov-50
35                 rPath                10.0   2005.0      Nov-50
126        Lumo Bodytech                10.0   2011.0      Nov-50
166             LimeBike                12.0   2017.0      Nov-50
167            Occipital                13.0   2008.0      Nov-50

In [58]:
data.ix[indices[1]]

         CompanyName  money_raised_float  Founded CompanySize
29          Duolingo                20.0   2011.0      51-200
58            Entelo                20.0   2011.0      51-200
80   Distil Networks                21.0   2011.0      51-200
153          Cedexis                22.0   2009.0      51-200
25   Conductor, Inc.                20.0   2008.0      51-200
173           Narvar                22.0   2012.0      51-200

In [59]:
data.ix[indices[2]]

,CompanyName,money_raised_float,Founded,CompanySize
98,Elastic,70.0,2012.0,501-1000
121,Opower,50.0,2007.0,501-1000
144,Outbrain,35.0,2006.0,501-1000
43,Quantcast,27.5,2006.0,501-1000
105,"Trion Group, a Marsh & McLennan Agency, LLC Co...",70.0,1999.0,201-500
143,Coupa Software,22.0,2006.0,501-1000

In [60]:
data.ix[indices[3]]

,CompanyName,money_raised_float,Founded,CompanySize
115,letgo,175.0,2015.0,51-200
56,Databricks,140.0,2013.0,51-200
72,"Elevance Renewable Sciences, Inc.",100.0,2007.0,51-200
112,Banjo,100.0,2011.0,51-200
28,Quora,80.0,2009.0,51-200
71,Carbon,81.0,2013.0,51-200