In [1]:
# drop some columns with many NAs
# find a location for a company
# find founded

In [2]:
import pandas as pd
import re
data = pd.read_csv("article_after_processing6.csv", encoding='iso-8859-1')

In [3]:
# check a cell with null value
data.apply(lambda row: sum(row.isnull()))

title                   0
link                    0
excerpt                 0
published_at            0
funding_round          13
money_raised            0
Company                 0
money_raised_float      0
linkedin_link           0
Company_at_Linkedin     0
CompanyName             0
Specialties            44
Industry                3
Website                 5
Location               25
CompanySize             4
Description             7
Founded                16
Also-viewed             0
dtype: int64

In [4]:
mask = data.apply(lambda row: True if sum(row.isnull()) >= 3 else False, axis = 1)
data.loc[mask].shape

(11, 19)

In [5]:
data.loc[mask][["CompanyName", "money_raised","Description","CompanySize", "Founded"]]

,CompanyName,money_raised,Description,CompanySize,Founded
22,EDO,$15 M,NaN,1001-5000,NaN
28,Skyport Companies,$30 M,NaN,Nov-50,NaN
75,Cadre Company Livelifesimply,$65 M,NaN,10-Jan,NaN
87,Momenta Pharmaceuticals,$46 M,Momenta is a biotechnology company with a prod...,201-500,NaN
98,Rinse,$14 M,Rinse is building the first and largest nation...,Nov-50,NaN
129,GREENHOUSES DIRECT LIMITED,$35 M,Quality greenhouses at discounted prices. Buy ...,10-Jan,NaN
154,Peter Thiel,$100 M,NaN,NaN,NaN
170,PlayFirst Inc.,$16.5 M,NaN,NaN,NaN
171,Moshi Monsters,$11 M,"Moshi Monsters is a free, safe online game whe...",10-Jan,NaN
197,SPARTOO SAS,$29.8 M,NaN,NaN,NaN
207,TM Room 77,$30.3 M,NaN,NaN,NaN

In [6]:
data.drop(data.loc[mask].index, inplace=True)

In [7]:
# reset index
data = data.reset_index(drop=True)

In [8]:
# check the change
data.apply(lambda row: sum(row.isnull()))

title                   0
link                    0
excerpt                 0
published_at            0
funding_round          12
money_raised            0
Company                 0
money_raised_float      0
linkedin_link           0
Company_at_Linkedin     0
CompanyName             0
Specialties            33
Industry                0
Website                 0
Location               20
CompanySize             0
Description             0
Founded                 5
Also-viewed             0
dtype: int64

In [13]:
data.Website

0                     http://www.capitalfloat.com
1                         http://www.carwow.co.uk
2                      http://www.stashinvest.com
3                       http://www.moveguides.com
4                         http://www.cohesity.com
5                            http://www.movinga.d
6                  http://leanplum.me/UuYn30a5eF2
7                               http://forter.com
8                           http://www.memsql.com
9                             http://www.fugue.co
10                      http://www.brandwatch.com
11                         https://mesosphere.com
12                      http://www.cybereason.com
13                             http://xamarin.com
14                         http://deliveroo.co.uk
15                              http://www.kiip.m
16                      http://www.bankbazaar.com
17                         http://www.fractyl.com
18                         https://www.zenoss.com
19                    http://www.appcelerator.com
20                          http://www.babbel.com
21                           http://www.houzz.com
22                      http://classp.as/LinkedIn
23                       https://career.egym.com/
24                             http://pindrop.com
25                     http://euclidanalytics.com
26                         https://placester.com/
27               https://www.magicleap.com/#/join
28     http://chinarapidfinance.investorroom.com/
29                         http://www.snowflake.n
                          ...
202                        http://www.cedexis.com
203                           http://www.xoom.com
204                      http://www.talkspace.com
205                        http://www.gemvara.com
206                          http://www.xobni.com
207                      http://www.skinkers.com/
208              http://www.boomerangcommerce.com
209         http://www.operasoftware.com/operator
210                    http://www.bigcommerce.com
211                   https://www.reflektive.com/
212                           http://www.chef.io/
213                     http://www.tysonfoods.com
214                          http://www.lisnr.com
215                         http://www.cazena.com
216                           http://limebike.com
217                        http://www.blippar.com
218                         http://occipital.com/
219                                http://flux.io
220                         http://www.docker.com
221                         http://www.kantox.com
222           http://www.gettingyouconnected.com/
223                          http://redislabs.com
224                     http://www.thetileapp.com
225                           http://www.grab.com
226                     http://www.acommerce.asia
227                         http://www.narvar.com
228                      http://www.Teespring.com
229                           http://opendoor.com
230                             http://uptake.com
231                        http://flyzipline.com/
Name: Website, dtype: object

In [9]:
mask = data.Location.isnull()
data.loc[mask][["CompanyName","Website","Location"]]

                    CompanyName                        Website Location
5                       Movinga           http://www.movinga.d      NaN
22                    ClassPass      http://classp.as/LinkedIn      NaN
38                   Spiceworks     http://www.spiceworks.com/      NaN
78              Orbital Insight  http://www.orbitalinsight.com      NaN
85                  BrightFarms     http://www.brightfarms.com      NaN
97                  Push Doctor   https://www.PushDoctor.co.uk      NaN
103                SportPursuit    http://www.sportpursuit.com      NaN
112                    Unisfair        http://www.unisfair.com      NaN
123                      PubNub        https://www.pubnub.com/      NaN
130                CloudPhysics    http://www.cloudphysics.com      NaN
140                 We Are Mint   http://www.we-are-mint.co.uk      NaN
145                Ticketmaster    http://www.ticketmaster.com      NaN
150                ScribbleLive             http://ow.ly/ybSuf      NaN
152                       letgo         http://jobs.letgo.com/      NaN
163                      Planet        https://www.planet.com/      NaN
175             ORBITAL SYSTEMS    http://orbital-systems.com/      NaN
204  Talkspace - Online Therapy       http://www.talkspace.com      NaN
216                    LimeBike            http://limebike.com      NaN
218                   Occipital          http://occipital.com/      NaN
231  Zipline International Inc.         http://flyzipline.com/      NaN

In [14]:
# from google search
from get_company_address import *

# from company website
from get_location_from_company_website import *

# from bloomberg profile
from get_company_address_from_bloomberg import *

def rewrite_location(row):
    if isinstance(row["Location"], float):
        result = get_company_address(row.CompanyName)
        
        if result != "not found":
            print ("done")
            return result
        else:
            result = get_location_trials(row.Website)
            
            if result != "not found":
                print ("done")
                return result
            else:
                result = get_address_from_bloomberg_merged(row.CompanyName)
                if result:
                    print ("done")
                    return result
                else:
                    print ("done")
                    return row.Location
                       
    else:
        print ("pass")
        return row.Location
    
data.Location = data.apply(lambda row: rewrite_location(row), axis = 1)

pass
pass
pass
pass
pass
Sonnenburger Str. 73, 10437 Berlin, Germany
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=208753796
121 West 27th Street Suite 701 New York, NY 10001 United States
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
Austin, TX 78746
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
100 W Evelyn Ave #110, Mountain View, CA 94041
done
pass
pass
pass
pass
pass
pass
21 W 46th St, New York, NY 10036
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=306612154
4th Floor Queens Chambers 5 John Dalton Street Manchester,  M2 6ET United Kingdom
done
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=206435568
44 Ritchie Street Angel London,  N1 0EH United Kingdom
done
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=723693
149 Commonwealth Drive Menlo Park, CA 94025 United States
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
725 Folsom St, San Francisco, CA 94107
done
pass
pass
pass
pass
pass
pass
3979 Freedom Cir #540, Santa Clara, CA 95054
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=39336566
 ,   Israel
done
pass
pass
pass
pass
not found
Exception has been thrown.
not found
move onto to second trial
Exception has been thrown.
not found
move onto to third trial
Exception has been thrown.
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=22745707
3701 Wilshire Boulevard 9th Floor Los Angeles, CA 90010 United States
done
pass
pass
pass
pass
49 Spadina Ave #303, Toronto, ON M5V 2J1, Canada
done
pass
not found
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=310716868
485 7th Avenue Suite 507 New York, NY 10018 United States
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
not found
move onto to second trial
San Francisco, CA 94103
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
4000 Bridgeway SUITE 307, Sausalito, CA 94965
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
New York, NY 10019
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
66 Bovet Rd Suite 320, San Mateo, CA 94402
done
pass
164 Townsend St, San Francisco, CA 94107
done
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
pass
not found
Exception has been thrown.
not found
move onto to second trial
not found
move onto to third trial
not found
https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=37185201
1301 Fannin Street Floor 20 Houston, TX 77002-7014 United States
done

In [16]:
# confirm the change
mask = (data.Location == "not found") | (data.Location.isnull())
test_co = data.loc[mask][["CompanyName"]]
data.loc[mask][["CompanyName","Website","Location"]]

Empty DataFrame
Columns: [CompanyName, Website, Location]
Index: []

In [18]:
data.to_csv("article_after_processing7.csv", index = False)